<div class="row mb-4" *ngIf="mensagemTexto">
  <app-mensagem [tipo]="mensagemTipo" class="col-md-12">
    {{mensagemTexto}}
  </app-mensagem>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
  </div>
</div>
<div class="row">
  <app-card *ngFor="let foto of listaFotos" [foto]="foto" class="col-md-4">
    <button (click)="removerFoto(foto)" class="btn btn-danger">Remover</button>
    <a [routerLink]="['/cadastro', foto._id]" class="btn btn-primary">Editar</a>
  </app-card>
</div>